html,body{
    width: 100%;
    height: 100%;
}

svg{
    background: #000;
    width: 100%;
    height: 100%;
}

g{
    /*transition: rotate 5s ease-in-out 25s;*/
    /*transform: rotate(45deg);    */
}

line {
  /*transform-origin: 1000px 500px;*/
  animation: second 1s linear;
  animation-fill-mode: forwards;
}

line#second-long{
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
line#second-short{
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
}

@keyframes second {
    0%{
        transform: rotate(0)
    }
    60%{
        stroke-dashoffset: 0;
        transform: rotate(0)
    }
    100%{
        stroke-dashoffset: 0;
        transform: rotate(360deg)
    }
}

circle#watch-center{
    /*transform-origin: 1000px 500px;*/
    animation: center .5s linear;
}

@keyframes center{
    0%{
        transform: scale(0);
    }
    100%{
        transform: none;
    }
}
.mark{
    fill: #ddd; 
    stroke:none;
}

use#hourFace{
    animation: hourFace .5s linear 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes hourFace{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

use#secondFace{
    animation: secondFace .3s linear 1.3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes secondFace{
    0%{
        transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}

#watch-circle{
    opacity: 0;
    animation: show 1s linear 1.5s;
    animation-fill-mode: forwards;
    transform: scale(3);
}
path#circle-path{
    fill: none;
    stroke-width: 15;
    stroke-dasharray: 629;
    stroke: #000;
    animation: load 1s linear 1.5s;
    stroke-dashoffset:0;
    opacity: 0;
}

@keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        
        stroke-dashoffset:629;
    }
}

use#bigHandH,use#bigHandM{
    opacity: 0;
    animation: show .1s linear 2.5s;
    animation-fill-mode: forwards;
}

use#funcCircle,g#littleHandMH{
    opacity: 0;
    animation: show .1s linear 2.6s;
    animation-fill-mode: forwards;
}

use#littleHandM{
    animation: rotateMin .3s linear 2.7s;
}

use#littleMin1{
    transform-origin: -110px -35px;
}
use#littleMin2{
    transform-origin: -100px 50px;
}
use#littleMin3{
    transform-origin: 90px -10px;
}

@keyframes rotateMin{
    100%{
        /*transform: rotate(90deg);*/
    }
}

image#logo{
    opacity: 0;
    animation: logoShow .3s linear 2.7s;
    animation-fill-mode: forwards;
}

@keyframes logoShow{
    0%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

#jacket-watch{
    animation: hide .3s linear 3.3s;
    animation-fill-mode: forwards;
}

@keyframes show{
    100%{
        opacity: 1;
    }
}

@keyframes hide{
    100%{
        opacity: 0;
    }
}